.Supplier-revenue-box {
    background: #202020;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Supplier-child-box {
    display: flex;
    height: calc(100vh - 113px - 320px);
}

.Supplier-inventory-box {
    padding: 20px;
    background: #202020;
    border-radius: 10px;
    width: 33.33%;
    height: calc(100vh - 113px - 320px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Supplier-item-list-box {
    overflow-y: scroll;
    max-height: calc(100vh - 113px - 113px - 320px);
}

.Supplier-item-box {
    background: #303030;
    padding: 20px;
    margin-right: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Supplier-bid-box {
    display: flex;
    margin-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
}

.Supplier-bid-input-box {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Supplier-bid-input {
    max-width: 88px;
    border: solid white;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

.Supplier-bid-minus-btn {
    border: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background: #5568fe;
    color: white;
    padding: 0px 10px;
    font-weight: bolder;
}

.Supplier-bid-plus-btn {
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background: #5568fe;
    color: white;
    padding: 0px 10px;
    font-weight: bolder;
}
.Supplier-offer-btn {
    border: none;
    border-radius: 10px;
    background: #5568fe;
    color: white;
    padding: 0px 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Supplier-offer-btn:hover,
.Supplier-bid-minus-btn:hover,
.Supplier-bid-plus-btn:hover {
    background: #3b48ad;
    transition: 0.3s;
}

.Suppplier-revenue {
    font-size: 100px;
    color: #5568fe;
}